html,
body
{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	background: #fff;
}

a:hover {
	color: #238acb;
}

h1,
h2
{
	text-align: center;
	color: #238acb;
	font-size: 1.8em;
}

h3 {
	text-align: center;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #555;
}

.bold {
	font-weight: 700;
	display: inline;
}

.horizon
{
	line-height: 0;
	z-index: 100;
	width: 3000px;
}

.middle
{
	z-index: 250;
	line-height: 0;
	width: 4500px;
}

.front
{
	z-index: 500;
	top: 80px;
	width: 6000px;
}

.front-mobile {
	position: relative;
}

.page
{
	top: 0px;
	width: 800px;
	background: rgba(250,250,250,0.97);
	padding: 10px 30px;
	border: 1px #eee solid;
	position: absolute;
	height: 500px;
	overflow: auto;
}

.page-mobile {
	width: 100%;
}

#panel1
{
	left: 8%;
}

#name
{
	left: 2900px;
	top: 0px;
	width: 400px;
}

#bio-link
{
	left: 2700px;
	top: 240px;
	width: 400px;
}

#work-link
{
	left: 3100px;
	top: 210px;
	width: 400px;
}

#name, 
#work-link,
#bio-link {
	background: rgba(250,250,250,1);
	padding: 10px 30px;
	border: 1px #eee solid;
	position: absolute;
	min-height: 250px;
	opacity: .94;	
}

#name-mobile,
#bio-link-mobile,
#work-link-mobile {
	/*display: none;*/
	font-size: 2em;
}

#panel3
{
	left: 4850px;
}

#name:hover,
#bio-link:hover,
#work-link:hover {
	z-index: 550;
	opacity: 1;
	-webkit-box-shadow: 5px 5px 45px 6px rgba(21,61,87,0.8);
	-moz-box-shadow: 5px 5px 45px 6px rgba(21,61,87,0.8);
	box-shadow: 5px 5px 45px 6px rgba(21,61,87,0.8);    
}

#bio-link:hover,
#work-link:hover {
	background-color: rgba(35,138,203,0.8);
	color: white;
	cursor: pointer;
	border: none;
}

#bio-link,
#work-link {
	padding: 10px;
	color: rgba(20,20,20,0.8);
	margin: auto;
	font-size: 1em;
	line-height: 2em;
	text-align: center;
}

#bio-link p,
#work-link p {
	font-size: 2.1em;
	}

#links {
	margin-left: 220px;
}

#bio-back {
	position: absolute;
	left: 1105px;
	top: -20px;
	z-index: 600;
}

#work-back {
	position: absolute;
	left: 4825px;
	top: -25px;
	z-index: 600;
}

#bio-back:hover,
#work-back:hover {
	color: #238acb;
	cursor: pointer;
}

.icons {
	position: relative;
	left: 150px;
	bottom: -30px;
}

.icons-mobile {
	text-align: center;
}

.img-wrap {
	position: relative;
	display: inline-block;
	width: 240px;
	max-width: 30%;
	height: 174px;
	margin: 15px 11px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(69,69,69,.4);
	-moz-box-shadow: 3px 3px 5px 0px rgba(69,69,69,.4);
	box-shadow: 3px 3px 5px 0px rgba(69,69,69,.4);
}

.img-description {
	text-align: center;
	line-height: 174px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(35,138,203,0.97);
  color: #fff;
  font-size: 1.1em;
  visibility: hidden;
  opacity: 0;
  font-weight: 400;
  -webkit-transition: visibility opacity 0.2s;
  
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.hidden {
	display: none;
}

#bottom {
	left: 6000px;
}

.bio-text {
	float: left;
	width: 55%;
	max-width: 55%;
	margin-right: 2%;
}

.bio-timeline {
	float: left;
	width: 36%;
	max-width: 36%
}

.timeline-item {
	width: 100%;
	padding: 5px 10px 5px 10px;
	margin: 5px 0px 10px 20px;
	height: 75px;
	background: #fff;
	border: 1px solid #eee;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(69,69,69,.4);
	-moz-box-shadow: 3px 3px 5px 0px rgba(69,69,69,.4);
	box-shadow: 3px 3px 5px 0px rgba(69,69,69,.4);
}

.timeline-logo {
	float: left;
	margin-top: 10px;
	max-width: 40%
}

.timeline-date {
	float: left;
	line-height: 75px;
	width: 60%;
	text-align: center;
	font-size: 1.2em;

}

#gallery-arrows {
	position: absolute;
	right: 40px;
	top: 25px;
	z-index: 600;
}

#gallery-down:hover, 
#gallery-up:hover {
	color: #238acb;
}

.gallery {
	height: 400px;
	overflow: auto;
}

@media (max-width: 1px) {
  .horizon,
  .middle { 
  	display: none;
  }
}
@media (min-width: 2px) and (max-width: 850px) {
  .horizon,
  .middle { 
  	display: none;
  }
  #name-mobile,
	#bio-link-mobile,
	#work-link-mobile {
		display: block;
		left: 0px;
	}
	#work-back,
	#bio-back {
		display: none;
	}
	
	body {
		max-height: 600px;
	}
/*	#panel1 {
		display: none;
	}*/

/*  #name
{
	left: 2900px;
	top: 0px;
	width: 400px;
	background: rgba(250,250,250,1);
	padding: 10px 30px;
	border: 1px #eee solid;
	position: absolute;
	min-height: 250px;
	opacity: .94;
}

#bio-link
{
	left: 2700px;
	top: 240px;
	width: 400px;
	background: rgba(250,250,250,1);
	padding: 10px 30px;
	border: 1px #eee solid;
	position: absolute;
	min-height: 250px;
	opacity: .94;
}

#work-link
{
	left: 3100px;
	top: 210px;
	width: 400px;
	background: rgba(250,250,250,1);
	padding: 10px 30px;
	border: 1px #eee solid;
	position: absolute;
	min-height: 250px;
	opacity: .94;
}*/
}
